

/* css destroiyer */

/* common styles */

body
{
    padding: 0;
    margin:0;
    background-image: url(/img/photo_2018-05-01_15-40-30.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: black;
}
div
{
    text-align: center;
}

/* end common styles */


/* * */


/* upper slider */

#yak4
{
    position: absolute;
    top:0%;
}
.content
{
    position: absolute;
    top: 40%;
    left: 51%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
    height: 45px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: black;
    background-color: white;
}
.content__container
{
    font-weight: 500;
    overflow: hidden;
    height: 120px;
}

.content__container__text
{
    display: inline;
    float: left;
    margin: 0;
}
.content__container__list
{
       margin-top: 0;
    padding-left: 85px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 9s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}    
.content__container__list__item
{
    line-height: 40px;
    margin: 0;
}

/* animation upper slider */

@-webkit-keyframes opacity
{
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change
{
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity
{
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change
{
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -weebkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}

/* end upper slider css */


/* all other content */


/* menu */

#menu
{   
    height: 50px;
    position: relative;
    margin-top: 52%;
    
}
#menu > ul
{
    padding-top: 12px;
    padding-right: 45px;
    justify-content: center;
    display: flex;
    list-style-type: none;
    text-decoration: none;
}
.listnav > li a
{
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    height: 40px;
    text-align: center;
    padding-top:4%;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 150ms;
    -moz-transition-timing-function: ease;
    -moz-transition-duration: 150ms;
    font-size: 17px;  
}
.listnav > li a:hover
{
   background-color: white;
      transition: 0.2s ease;
}
a
{
    list-style: none;
    color: #c71d26;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

/* end menu css */


/* * */


/* blocks with content */


/* * */


/*first block*/

#yak1 
{   margin-top: 3%;
    margin-left: 21.45%;
    margin-right: 21.4%;
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
    height: 950px;
    background-image:url(/img/photo_2018-04-26_06-37-23.jpg);
    z-index: 20;
    background-attachment: fixed;
    background-position: center;
 
}
.subdiv 
{
    z-index: 22;
    padding-top: 40%;
}
.subt2
{
    font-size: 60px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}

/* end first block css */


/* * */


/* second block */

#yak2
{
    margin-right: 21.4%;
    margin-left: 21.4%;
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
    height: 950px;
    background-position: center;
    background-image:url(/img/photo_2018-05-03_17-04-23.jpg);
    background-attachment: fixed;
    z-index: 20;
}
.subdiv2
{
    z-index: 22;
    padding-top: 23%;
}
.subt1
{
        color: white;
    background-color: black;
    font-size: 70px;
}

/* end second block css */


/* * */


/* third block */

#yak3
{
    margin-right: 21.4%;
    margin-left: 21.4%;
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
    height: 950px;
    background-image:url(/img/pinksky.jpg);
    background-repeat: no-repeat;
    z-index: 20;
    background-attachment: fixed;
    background-position: center;
}
.subdiv3
{
     padding-top: 13%;
}
.subt2
{
    font-size: 60px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}
.instagram,.tumblr,.telegram
{
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;

}
.span
{
    padding-left:0.3em;  
    font-size: 30px;
}
#a
{
    color: white;
    letter-spacing: 0px;
}
.p
{
    padding-top: 10px;
    padding-left: 10px;
    width: 120px;
    height: 120px;
}

/* inner mail block */

.subt3
{
      color: white;
    background-color: black;
    font-size: 70px;
}
.mailp
{    
    margin-top: 12%;
    padding-top:2%;
    height: 1%;
}
.mymail
{
    padding-top: 4%;
}
.span1
{
    padding-left: 0.1em;
    font-size: 30px;
    padding-top: 
}

/* end third block css */


/* * */


/* hidden nav menu */

#back-top {
position:fixed;
display: none;
padding-left: 78%;
margin-top: -30%;
}
.l
{   height: 2em;
    text-align: center;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 150ms;
    -moz-transition-timing-function: ease;
    -moz-transition-duration: 150ms;
}
.l:hover
{
    background-color: white;
      transition: 0.2s ease;
}
#a1
{
    margin-top:-2%;
    font-size: 17px;
}
.l {
    
    width: 10em;
    padding-left: 8%;
    padding-top: 5%;
}

/* end hidden nav menu */


/* * */


/* responsive media */

@media screen and (min-width:380px) and (max-width:865px)
{
    #yak1 
{   
    margin-top: 3%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
    height: 500px;
    background-image:url(/img/photo_2018-04-26_06-37-23.jpg);
    z-index: 20;
    background-attachment: fixed;
    background-position: center;
 
}
    #yak2
{
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
    height: 500px;
    background-position: center;
    background-image:url(/img/photo_2018-05-03_17-04-23.jpg);
    background-attachment: fixed;
    z-index: 20;
}
    #yak3
{
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
    height: 550px;
    background-image:url(/img/pinksky.jpg);
    background-repeat: no-repeat;
    z-index: 20;
    background-attachment: fixed;
  
}
    .content {
    
    position: absolute;
    top: 20%;
    left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
    height: 43px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: black;
    background-color: white;
    }
.content__container {
    font-weight: 500;
    overflow: hidden;
    height: 120px;
}

.content__container__text {
    display: inline;
    float: left;
    margin: 0;
}
.content__container__list {
       margin-top: 0;
    padding-left: 85px;
    text-align: left;
    list-style: none;
}    
.content__container__list__item {
    line-height: 40px;
    margin: 0;
}


@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, 0%%, 0);
            transform: translate3d(0, 0%%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, 0%%, 0);
            transform: translate3d(0, 0%%, 0);
  }
  83.3%,95.96% {
    -weebkit-transform: translate3d(0, 0%%, 0);
            transform: translate3d(0, 0%%, 0);
  }
}
.listnav > li a {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    height: 40px;
    text-align: center;
    padding-top:2%;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 150ms;
    -moz-transition-timing-function: ease;
    -moz-transition-duration: 150ms;
    font-size: 17px;
    background-color: transparent;
    
}
.subdiv {
    z-index: 22;
    padding-top: 30%;
}

    .subdiv2 {
    z-index: 22;
    padding-top: 1%;
}
        .subdiv3 {
    z-index: 22;
    padding-top: 0.1%;
}
#back-top {
position:absolute;
display: none;
padding-left: 0%;
margin-top: 100%;
}
}
@media screen and (min-width:380px) and (max-width:500px)
{
    .content {
    width:72%;
    position: absolute;
    top: 20%;
    left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
    height: 43px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: black;
    background-color: white;
    }
    .listnav > li a {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    height: 40px;
    text-align: center;
    padding-top:2%;
    -webkit-transition-timing-function: none;
    -webkit-transition-duration: 0ms;
    -moz-transition-timing-function: none;
    -moz-transition-duration: 0ms;
    font-size: 17px;
    background-color: transparent;
    }
    .listnav > li a:hover {
   background-color: transparent;
      transition: 0.2s ease;
}
}
@media screen and (min-width:824px) and (max-width:850px)
{
#menu
{   
    height: 50px;
    position: relative;  
    margin-top: 103%;
    
}
}
@media screen and (max-width:725px)
{
#menu
{   
    height: 50px;
    position: relative;  
    margin-top: 103%;
    
}
}
@media screen and (min-width:294px) and (max-width:425px)
{
    #yak1 
{   
    margin-top: 40%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
    height: 500px;
    background-image:url(/img/photo_2018-04-26_06-37-23.jpg);
    z-index: 20;
    background-attachment: fixed;
    background-position: center;
 
}
    #yak2
{
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
    height: 500px;
    background-position: center;
    background-image:url(/img/photo_2018-05-03_17-04-23.jpg);
    background-attachment: fixed;
    z-index: 20;
}
    #yak3
{
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Lato', sans-serif;
    position: relative;
    text-align: center;
    height: 400px;
    background-image:url(/img/pinksky.jpg));
    background-repeat: no-repeat;
    z-index: 20;
    background-attachment: fixed;
  
}
#menu
{   
    height: 50px;
    position: relative;  
    margin-top: 20%;
    
}
.subt2 {
    font-size:20px;
    color: white;
    background-color: black; 
    height: 40px;
}
    .p {
    width: 20px;
    height: 20px;
    padding-top: 10px;
    padding-left: 10px;
}
    .subt1
    {
        margin-top: 1%
    }
    .subdiv2
    {
        padding-top: -11%
    }
    .instagram,.telegram,.tumblr
    {
        width: 19.3333333%;
        position: relative;
        float: left;
        
        
    }
    .subt2
    {
        height: 60px;
    position: relative;
    width: 100%;
    z-index: 600;
    display: block;
    margin-top: 0%;
    }
    .span
    {
        padding-left: 0em; 
    }
    .follow
    {
        font-size: 30px;
         padding-top: 2%;
         
    }
    .mymail
    {
        font-size: 30px;
        padding-top: 0%;
    }
      .subt1
    {    
        margin-top: 23%;
        font-size:40px;
    }
    #back-top {
position:absolute;
display: none;
padding-left: 00%;
margin-top: 200%;
}
    .listnav > li a {
    padding-left: 0px;
    padding-right: 25px;
    height: 40px;
    text-align: center;
    margin-top:0%;
        width: 100%;
    -webkit-transition-timing-function: ease;
    -webkit-transition-duration: 150ms;
    -moz-transition-timing-function: ease;
    -moz-transition-duration: 150ms;
    font-size: 17px;
    background-color: transparent;
    
}
    #menu > ul
{
    margin-top: 70%;;
    padding-right: 45px;
    display: block;
    list-style-type: none;
    text-decoration: none;
     text-align: center;
}
    .content {
    
    position: absolute;
    top: 20%;
    left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
    height: 43px;
        width: 90%;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 40px;
    color: black;
    background-color: white;
    }
    .listnav
    {
        text-align: center;
    }
    .content__container {
    font-weight: 500;
    overflow: hidden;
    height: 120px;
}

.content__container__text {
    display: inline;
    float: left;
    margin: 0;
}
.content__container__list {
       margin-top: 0;
    padding-left: 85px;
    text-align: left;
    list-style: none;
}    
.content__container__list__item {
    line-height: 40px;
    margin: 0;
}


@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, 0%%, 0);
            transform: translate3d(0, 0%%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, 0%%, 0);
            transform: translate3d(0, 0%%, 0);
  }
  83.3%,95.96% {
    -weebkit-transform: translate3d(0, 0%%, 0);
            transform: translate3d(0, 0%%, 0);
  }
}
}

/* end responsive media */